infrastructure/nodered/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a2171a3cc8c263fb",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "64473a2534b2ab78",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/{{payload}}/ids?start=0&count=20&api_key=RGAPI-97edf159-ad32-4266-9dae-21967dfa774a",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 550,
        "y": 320,
        "wires": [
            [
                "48d87046c43ba3b7"
            ]
        ]
    },
    {
        "id": "ccd94fd6ad4763eb",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "48d87046c43ba3b7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "test2",
        "func": "// var local=context.get('data') || {};\n// if (local.count===undefined)//test exists\n// {\n//   local.count=0;\n// }\n// local.count +=1;\n// if (local.count == 20) {\n//     local.count=0;\n// }\n// context.set('data',local);\n\nnode.send({payload: [msg.payload[0],\nmsg.payload[1],\nmsg.payload[2],\nmsg.payload[3],\nmsg.payload[4],\nmsg.payload[5],\nmsg.payload[6],\nmsg.payload[7],\nmsg.payload[8],\nmsg.payload[9],\nmsg.payload[10],\nmsg.payload[11],\nmsg.payload[12],\nmsg.payload[13],\nmsg.payload[14],\nmsg.payload[15],\nmsg.payload[16],\nmsg.payload[17],\nmsg.payload[18],\nmsg.payload[19],]});\n// local.count +=1;\n// if (local.count == 20) {\n//     local.count=0;\n// }\n// context.set('data',local);\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 360,
        "wires": [
            [
                "b6e2cda219f9af28"
            ]
        ]
    },
    {
        "id": "e225062e3f1cc4c2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "\n\nfor (var i = 0; i < msg.payload.info.participants.length; i++) {\n    if (msg.payload.info.participants[i].summonerName == global.get(\"GlobalVariable\")) {\n        \n        node.send({payload: [msg.payload.info.participants[i], msg.payload.metadata.matchId]})\n\n   \n    }\n    \n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 340,
        "wires": [
            [
                "2d90a539406daee5",
                "ccd94fd6ad4763eb"
            ]
        ]
    },
    {
        "id": "c94c5d941ccf3ac3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "\n\nmsg.payload = [\n\n    \n    {level: msg.payload[0].champLevel,\n    gold: msg.payload[0].goldEarned,\n    kills: msg.payload[0].kills,\n    deaths: msg.payload[0].deaths,\n    damageMitigated: msg.payload[0].damageSelfMitigated,\n    damageToChampions: msg.payload[0].totalDamageDealtToChampions,\n    damageTaken: msg.payload[0].totalDamageTaken,\n    totalHealed: msg.payload[0].totalHeal,},\n    \n\n    \n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 480,
        "wires": [
            [
                "dd169c36c76ddc8f"
            ]
        ]
    },
    {
        "id": "dd169c36c76ddc8f",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "a2171a3cc8c263fb",
        "name": "influxdb",
        "measurement": "stats",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ns",
        "retentionPolicyV18Flux": "",
        "org": "aron",
        "bucket": "lolbucket",
        "x": 920,
        "y": 480,
        "wires": []
    },
    {
        "id": "2d90a539406daee5",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 860,
        "y": 380,
        "wires": [
            [
                "c94c5d941ccf3ac3"
            ]
        ]
    },
    {
        "id": "ed639c184f09121b",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "a2171a3cc8c263fb",
        "name": "influxdb",
        "measurement": "info",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "aron ",
        "bucket": "stringbucket",
        "x": 920,
        "y": 440,
        "wires": []
    },
    {
        "id": "2ff7ca7c781ed330",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "msg.payload = [\n\n    \n    {\n        gameId: msg.payload[1],\n        \n    },\n    {\n        championName: msg.payload[0].championName,\n    }\n    \n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 440,
        "wires": [
            [
                "ed639c184f09121b"
            ]
        ]
    },
    {
        "id": "b6e2cda219f9af28",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "\nfor (var i = 1; i < 19; i++) {\n    node.send({payload: msg.payload[i]})\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 400,
        "wires": [
            [
                "d9640d3a63774eff"
            ]
        ]
    },
    {
        "id": "fcd35474ccc3eb58",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://na1.api.riotgames.com/lol/summoner/v4/summoners/by-name/{{payload}}?api_key=RGAPI-97edf159-ad32-4266-9dae-21967dfa774a",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "3db9658b0be906fb",
                "3c9f511f3737f9e4"
            ]
        ]
    },
    {
        "id": "f7ba5c12019c2a0f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "\n\nnode.send({payload: msg.payload.payload})",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "fcd35474ccc3eb58"
            ]
        ]
    },
    {
        "id": "3c9f511f3737f9e4",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "msg = JSON.parse(msg.payload)\nnode.send({payload: msg.puuid})",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 280,
        "wires": [
            [
                "64473a2534b2ab78"
            ]
        ]
    },
    {
        "id": "e06748c6e165da3e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "return {payload: msg.payload.info.participants.length};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3db9658b0be906fb",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Global Variable",
        "func": "msg = JSON.parse(msg.payload)\nglobal.set(\"GlobalVariable\", msg.name) \n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d9640d3a63774eff",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://americas.api.riotgames.com/lol/match/v5/matches/{{payload}}?api_key=RGAPI-97edf159-ad32-4266-9dae-21967dfa774a",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 550,
        "y": 400,
        "wires": [
            [
                "e225062e3f1cc4c2"
            ]
        ]
    },
    {
        "id": "4c4fa40523b16348",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/route",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "f1758431436eb584",
                "f7ba5c12019c2a0f"
            ]
        ]
    },
    {
        "id": "f1758431436eb584",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/plain"
        },
        "x": 370,
        "y": 160,
        "wires": []
    }
]